swagger: '2.0'
info:
  description: >-
    Une API REST permettant l'affichage du catalogue de cultivars de la société Hybrid'agrume. 
  version: 1.0.0
  title: Catalogue Hybrid'agrume
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
host: shop.hybridagrume.fr
basePath: /api
tags:
  - name: variety
    description: Un cultivar, issu d'une espèce
    externalDocs:
      description: Plus d'infos
      url: https://fr.wikipedia.org/wiki/Cultivar
  - name: species
    description: Une espèce d'agrume
    externalDocs:
      description: Plus d'infos
      url: https://fr.wikipedia.org/wiki/Esp%C3%A8ce
schemes:
  - http
paths:
  /varieties:
    get:
      tags:
        - variety
      summary: Liste toutes les variétés
      description: ''
      operationId: findVarieties
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Variety'
    post:
      tags:
        - variety
      summary: Ajoute une nouvelle variété
      description: ''
      operationId: addVariety
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: La variété à ajouter
          required: true
          schema:
            $ref: '#/definitions/VarietyPayload'
      responses:
        '400':
          description: Invalid payload
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Variety'
  /varieties/{id}:
    get:
      tags:
        - variety
      summary: Retrouve une variété
      operationId: findOneVariety
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: l'id de la variété à retrouver
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Variety'
        '400':
          description: Invalid id format
        '404':
          description: Variety not found
    put:
      tags:
        - variety
      summary: Modifie une variété
      description: ''
      operationId: updateVariety
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: l'id de la variété à modifier
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Les modifications à apporter à la variété
          required: true
          schema:
            $ref: '#/definitions/VarietyPayload'
      responses:
        '400':
          description: Invalid id format
        '404':
          description: Variety not found
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Variety'
    delete:
      tags:
        - variety
      summary: Supprime une variété
      description: Cette action est définitive, les données ne pourront pas être récupérées
      parameters:
        - in: path
          name: id
          description: l'id de la variété à supprimer
          required: true
          type: integer
          format: int64
      responses:
        '400':
          description: Invalid id format
        '404':
          description: Variety not found
        '204':
          description: Deleted
  /varieties/filter/scores:
    post:
      tags:
        - variety
      summary: Filtre les variétés par jutosité et/ou amertume
      description: Les valeurs passées sont incluses dans le filtre
      parameters:
        - in: body
          name: body
          description: Les valeurs limites à utiliser pour filtrer les variétés
          required: true
          schema:
            $ref: '#/definitions/ScoreFilter'
      responses:
        '400':
          description: Invalid filters
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Variety'
  /varieties/filter/species/{name}:
    get:
      tags:
        - variety
      summary: Filtre les variétés par nom d'espèce
      description: Le nom peut être partiel, cet endpoint se relance chaque fois que l'utilisateur complète sa saisie.
      parameters:
        - in: path
          name: name
          description: Le nom, ou une partie, de l'espèce sur laquelle filtrer les variétés
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Variety'
  /species:
    get:
      tags:
        - species
      summary: Liste toutes les espèces
      description: ''
      operationId: findSpecies
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Species'
    post:
      tags:
        - species
      summary: Ajoute une nouvelle espèce
      description: ''
      operationId: addSpecies
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: L'espèce à ajouter
          required: true
          schema:
            $ref: '#/definitions/SpeciesPayload'
      responses:
        '400':
          description: Invalid payload
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Species'
  /species/{id}:
    get:
      tags:
        - species
      summary: Retrouve une espèce
      operationId: findOneSpecies
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: l'id de l'espèce' à retrouver
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Species'
        '400':
          description: Invalid id format
        '404':
          description: Species not found
    put:
      tags:
        - species
      summary: Modifie une espèce
      description: ''
      operationId: updateSpecies
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: l'id de l'espèce à modifier
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Les modifications à apporter à l'espèce'
          required: true
          schema:
            $ref: '#/definitions/SpeciesPayload'
      responses:
        '400':
          description: Invalid id format
        '404':
          description: Species not found
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Species'
    delete:
      tags:
        - species
      summary: Supprime une espèce
      description: Cette action est définitive, les données ne pourront pas être récupérées
      parameters:
        - in: path
          name: id
          description: l'id de l'espèce à supprimer
          required: true
          type: integer
          format: int64
      responses:
        '400':
          description: Invalid id format
        '404':
          description: Species not found
        '204':
          description: Deleted
  /species/filter/family/{name}:
    get:
      tags:
        - species
      summary: Filtre les espèce par leur famille
      description: Le nom peut être partiel, cet endpoint se relance chaque fois que l'utilisateur complète sa saisie.
      parameters:
        - in: path
          name: name
          description: Le nom, ou une partie, de la famille sur laquelle filtrer les espèces
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Species'
definitions:
  Variety:
    type: object
    properties:
      id:
        type: integer
        format: int64
      cultivar:
        type: string
      bitterness:
        type: integer
        format: int32
      juiciness:
        type: integer
        format: int32
      species_id:
        type: integer
        format: int64
  VarietyPayload:
    type: object
    properties:
      cultivar:
        type: string
      bitterness:
        type: integer
        format: int32
      juiciness:
        type: integer
        format: int32
      species_id:
        type: integer
        format: int64
  ScoreFilter:
    type: object
    properties:
      juiciness:
        type: object
        properties:
          min:
            type: integer
            format: int32
          max:
            type: integer
            format: int32
      bitterness:
        type: object
        properties:
          min:
            type: integer
            format: int32
          max:
            type: integer
            format: int32
  Species:
    type: object
    properties:
      id:
        type: integer
        format: int64
      scientific_name:
        type: string
      common_name:
        type: string
      family:
        type: string
        description: Une des 6 grandes familles d'agrumes
        enum:
          - orange
          - pamplemousse
          - citron
          - clémentine
          - mandarine
          - kumquat
  SpeciesPayload:
    type: object
    properties:
      scientific_name:
        type: string
      common_name:
        type: string
      family:
        type: string
        description: Une des 6 grandes familles d'agrumes
        enum:
          - orange
          - pamplemousse
          - citron
          - clémentine
          - mandarine
          - kumquat
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
